body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #f5f5f5;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
hr {
	margin: 0;
	padding: 0;
	opacity: 40%;
}

h1,
h2,
h3,
h4,
h5,
label,
span,
p {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
	text-decoration: none;
	color: black;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}

.header hr {
	opacity: 40%;
	color: gray;
	width: 99.9%;
}

.header .header-top {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	max-width: 65%;
	height: 30px;
}

.header .header-top .top-left {
	display: flex;
	align-items: center;
	list-style: none;
}

.header .header-top .top-left a {
	border-right: 1px solid gray;
	padding: 0 20px;
}

.header .header-top .top-left a:last-child {
	border: unset;
}

.header .header-top .top-right {
	display: flex;
	align-items: center;
	list-style: none;
}

.header .header-top .top-right li {
	margin-left: 10px;
	margin-right: 10px;
}

.header .header-top .top-right li a {
	opacity: 80%;
}

.header .header-top .top-right li a:hover {
	border-bottom: 1px solid black;
}

.header .nav {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	max-width: 70%;
	padding: 15px 0;
}

.header .nav .items {
	display: flex;
	list-style: none;
}

.header .nav .items li {
	margin-left: 10px;
	margin-right: 10px;
}

.header .nav .items li a {
	opacity: 80%;
}
.header .nav .items li a:hover {
	opacity: 100%;
	border-bottom: 1px solid black;
}

.header .nav .items .icon a:hover {
	border: unset;
}

.footer {
	width: 100%;
}

.footer .container {
	max-width: 65%;
	margin: 0 auto;
}

.footer .container .breadcrumbs {
	display: flex;
	width: 100%;
    align-items: center;
	padding: 20px 0;
}

.footer .container .breadcrumbs .logo {
	height: 14px;
	margin-right: 5px;
}

.footer .container .breadcrumbs .items img {
	height: 50%;
}

.footer .container .breadcrumbs .items span {
	margin-left: 2.5px;
}

.footer .container .breadcrumbs .items span,
a {
	color: #4d4d4d;
	font-size: 16px;
	opacity: 90%;
}

.footer .container .breadcrumbs .items a:hover {
	opacity: 100%;
	border-bottom: 1px solid gray;
}

.footer .container .list-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 14px;
	padding: 20px 0;
}

.footer .container .list-container .title {
	color: #18181b;
	font-size: 14px;
	font-weight: 600;
}

.footer .container .list-container .product-list .product-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 13px;
}

.footer .container .list-container .product-list .product-line .items ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer .container .list-container .product-list .product-line .items ul li {
	padding-top: 10px;
}

.footer
	.container
	.list-container
	.product-list
	.product-line
	.items
	ul
	li
	a:hover {
	border-bottom: 1px solid gray;
	opacity: 100%;
}

.footer .container .list-container .product-list .product-line .items ul li p {
	font-weight: 700;
}

.footer .container .footer-bottom {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px 0;
}

.footer .container .footer-bottom .copyright {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer .container .footer-bottom span {
	color: #9CA3AF;
	margin-right: 10px;
}

.footer .container .footer-bottom a {
	margin-left: 15px;
	font-size: 14px;
}

.footer .container .footer-bottom a:hover {
	text-decoration: underline;
}

.footer .container .footer-bottom .lang {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.footer .container .footer-bottom .lang .text {
	font-size: 14px;
	margin-left: 10px;
}

.footer .container .footer-bottom .lang .text:hover {
	border-bottom: 1px solid gray;
}

.hero {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	background-color: black;
}

.hero img {
	max-width: 100%;
	max-height: 100%;
}

.showcase {
	width: 100%;
	background-color: white;
}

.showcase .container {
	max-width: 1100px;
	height: 165px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.showcase .container .product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 40px;
}

.showcase .container .product:hover {
	border-bottom: 1px solid black;
}

.showcase .container .product .picture {
	display: flex;
	margin: 0 auto;
}

.showcase .container .product h5 {
	margin: 0 auto;
}

.showcase .container .product p {
	opacity: 60%;
	font-size: 13px;
	padding: 10px 0;
	margin: 0 auto;
}

.get-windows {
	display: flex;
	justify-content: end;
	align-items: end;
	width: 100%;
	height: 56px;
	max-width: 65%;
	margin: 0 auto;
}

.get-windows .wrap {
	max-width: 220px;
}

.primary {
	padding: 20px 0;
	width: 100%;
}

.primary .wrapper {
	display: flex;
	flex-direction: flex;
	margin: 0 auto;
	max-width: 70%;
	justify-content: space-between;
}

.primary .wrapper .table-content {
	width: 100%;
	max-width: 350px;
	max-height: 1150px;
	border-radius: 18px;
	background-color: white;
}

.primary .wrapper .table-content .wrap {
	max-width: 75%;
	margin: 0 auto;
	background-color: white;
	padding: 20px 0;
}

.primary .wrapper .table-content .wrap hr {
	opacity: 100%;
	color: #18181b;
	margin: 10px 0;
}

.primary .wrapper .table-content .wrap ul li p {
	font-weight: 550;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	padding: 20px 0;
	font-size: 18px;
}

.primary .wrapper .table-content .wrap ul li label {
	opacity: 80%;
}

.primary .wrapper .items-content {
	margin-left: 50px;
}

.primary .wrapper .items-content .item {
	margin-top: 35px;
}

.primary .wrapper .items-content .item .link {
	display: flex;
	padding: 35px 0;
	justify-content: center;
}

.primary .wrapper .items-content .item .link a {
	border: 1px solid #2563eb;
	color: #2563eb;
	padding: 5px 15px;
    border-radius: 10px;
    font-size: 18px;
}

.primary .wrapper .items-content .item .description {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 75%;
	text-align: center;
	margin: 0 auto;
}

.primary .wrapper .items-content .item .description p {
	font-size: 20px;	
}

.primary .wrapper .items-content .item .content {
	background-color: white;
	border-radius: 20px;
	display: flex;
	margin: 30px auto;
	width: 100%;
	height: 220px;
}

.primary .wrapper .items-content .item .content-normal {
	display: flex;
	height: 350px;
	justify-content: space-between;
	margin: 30px auto;
}

.primary .wrapper .items-content .item .content-normal .wrap {
	display: flex;
	background-color: white;
	flex-direction: column;
	width: 100%;
	max-width: 60%;
	margin: 0 10px;
	padding: 20px;
	justify-content: space-between;
	align-items: center;
}

.primary .wrapper .items-content .item .content-normal .wrap .object {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.primary .wrapper .items-content .item .content-normal .wrap p {
	margin-top: 20px;
	font-size: 18px;
	text-align: center;
}

.primary .wrapper .items-content .item .content-normal .wrap ul {
	display: flex;
	flex-direction: row;
	margin: 0 20px;
}

.primary .wrapper .items-content .item .content-normal .wrap ul li a {
	font-size: 18px;
	color:#2563eb;
	border: 1px solid #2563eb;
	padding: 4px 8px;
	margin: 0 6px;
}

.primary .wrapper .items-content .item .content-normal .wrap ul li:last-child a {
	color:#2563eb;
	border: unset;
	padding: unset;
}

.primary .wrapper .items-content .item .content .proart-wrap {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 60%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.primary .wrapper .items-content .item .content .proart-wrap .description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.primary .wrapper .items-content .item .content .proart-wrap .description h3 {
	font-size: 24px;
	font-weight: 600;
}

.primary .wrapper .items-content .item .content .proart-wrap .description a {
	margin-top: 20px;
	font-size: 22px;
	color: #2563eb;
}

.primary .wrapper .items-content .item .content .proart-wrap .description a:hover {
	text-decoration: underline;
}

.primary .wrapper .items-content .item .content .wrap {
	display: flex;
	flex-direction: row;
	width: 100%;
	max-width: 60%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}