body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

hr {
    margin: 0;
    padding: 0;
}
h3,
p {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
	color: black;
	font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.hero {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	background-color: black;
}

.hero img {
	max-width: 100%;
	max-height: 100%;
}

.header hr {
	opacity: 40%;
	color: gray;
	width: 99.9%;
}

.header .header-top {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	height: 30px;
}

.header .header-top .top-left {
	display: flex;
	align-items: center;
	list-style: none;
}

.header .header-top .top-left a {
	border-right: 1px solid gray;
	padding: 0 20px;
}

.header .header-top .top-left a:last-child {
	border: unset;
}

.header .header-top .top-right {
	display: flex;
	align-items: center;
	list-style: none;
}

.header .header-top .top-right li {
	margin-left: 10px;
	margin-right: 10px;
}

.header .header-top .top-right li a {
	opacity: 80%;
}

.header .header-top .top-right li a:hover {
	border-bottom: 1px solid black;
}

.header .nav {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	max-width: 1250px;
}

.header .nav .items {
	display: flex;
	list-style: none;
}

.header .nav .items li {
	margin-left: 10px;
	margin-right: 10px;
}

.header .nav .items li a {
	opacity: 80%;
}
.header .nav .items li a:hover {
	opacity: 100%;
	border-bottom: 1px solid black;
}

.header .nav .items .icon a:hover {
	border: unset;
}

.footer {
    width: 100%;
}

.footer .container {
	max-width: 65%;
	margin: 0 auto;
}

.footer .container .breadcrumbs {
	display: flex;
	width: 100%;
	padding: 20px 0;
}

.footer .container .breadcrumbs .logo {
	height: 14px;
	margin-right: 5px;
}

.footer .container .breadcrumbs .items img {
	height: 50%;
}

.footer .container .breadcrumbs .items span {
	margin-left: 2.5px;
}

.footer .container .breadcrumbs .items span,
a {
	color: #4d4d4d;
	font-size: 16px;
	opacity: 90%;
}

.footer .container .breadcrumbs .items a:hover {
	opacity: 100%;
	border-bottom: 1px solid gray;
}

.footer .container .list-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 14px;
    padding: 20px 0;
}

.footer .container .list-container .title {
	color: #18181b;
	font-size: 14px;
	font-weight: 600;
}

.footer .container .list-container .product-list .product-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 13px;
}

.footer .container .list-container .product-list .product-line .items ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer .container .list-container .product-list .product-line .items ul li {
	padding-top: 10px;
}

.footer .container .list-container .product-list .product-line .items ul li a:hover {
	border-bottom: 1px solid gray;
	opacity: 100%;
}

.footer .container .list-container .product-list .product-line .items ul li p {
	font-weight: 700;
}

.footer .container .footer-bottom {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.footer .container .footer-bottom .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.footer .container .footer-bottom a {
    margin-left: 10px;
    padding-left: 15px;
    font-size: 14px;
}

.footer .container .footer-bottom a:hover {
    border-bottom: 1px solid gray;
}

.footer .container .footer-bottom a:last-child {
    border-left: 1px solid gray;
}

.footer .container .footer-bottom .lang {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer .container .footer-bottom .lang .text {
    font-size: 14px;
    margin-left: 10px;
}

.footer .container .footer-bottom .lang .text:hover {
    border-bottom: 1px solid gray;
}